@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ======Share style======== */
.display-flex{
    display: flex;
}

/* =======Background color======== */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 30px;
}

/* ========Primary color=========== */
.primary-btn{
    background-color: #FF900E;
    padding: 16px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
}

/* =======Dark 01========= */
.dark-gray{
    color: #424242;
}

/* =======Dark 02========= */
.light-gray{
    color: #727272;
}

/* ======Navbar style======== */
.navber, .banner-area{
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    max-width: 1600px;
    margin: 0 auto;
}
.logo{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-links{

}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

/* ====Banner style======== */
.brand-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    padding-top: 116px;
    margin-bottom: 30px;
}
.brand-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}
.brand-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
}

.team-img img{
    width: 100%;
    margin: 0 auto;
}

/* =========Header area responsive design========== */
@media screen and (max-width:576px)
{
    .navber, .nav-links{
        flex-direction: column;
        gap: 15px;
    }
    .brand-content{
        padding-top: 50px;
    }
    .brand-title{
        font-size: 2rem;
        line-height: 30px;
    }
    .brand-text{
        padding: 5px;
    }
}